@font-face {
    font-weight: 400;
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-weight:400;
    font-style: italic;
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-weight: 700;
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}

:root{
    --font-color: #333333
}
body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    background-color:white;
    color: var(--font-color);

    border-style: groove;
    width: 80vw;
    padding: 20px;
    margin: 0 auto;
}

a{
    color: inherit;
}

header{
    text-align: center;
}

h1 {
    font-size: 36px;
    font-variant: small-caps;
    margin-bottom: 0;
}

main h2 {
    font-size: 25px;
}

.content {
    column-count: 2;
    column-gap: 2em;
    column-width: 350px;
    column-rule: 2px solid var(--font-color);
}
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
    text-decoration: none;
}

.list-style {
    list-style-type: square;
}

.snake-image{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.quote:hover{
    color:deeppink
}
section p::first-letter{
    font-size: 1.5em;
    line-height: 1;
}